# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
.env
.env.*

# Build / dist
build/
dist/
*.egg-info/

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
